.idea/
/Utilize.Identity.Provider/obj
/Utilize.Identity.Provider/bin
/Utilize.Identity.Provider/.idea
/Utilize.Identity.Provider/.vs
/Utilize.Identity.Manager/obj
/Utilize.Identity.Manager/bin
/Utilize.Identity.Manager/.idea
/Utilize.Identity.Manager/.vs
/Utilize.Identity.Shared/obj
/Utilize.Identity.Shared/bin
/Utilize.Identity.Shared/.idea
/Utilize.Identity.Shared/.vs
*.user
